      .navbar-brand > img { height: 32px; margin: -5px 0 0 0; }
      .login-logo .login-logo-img { height: 35px; }
      @media (min-width: 770px) {
        .navbar-brand > img { margin: -5px 0 0 35px; }
      }
      @media (min-width: 481px) {
        .login-logo .login-logo-img { height: 45px; margin-left: -10px;}
      }
.login-container{background:#0e1e3d url(../img/bg-login.jpg);background-size:cover}
.bg-blue-dark{background:#0e1e3d}
.bg-blue-light{background:#e0e8f3}
.layout-boxed .page-container{background-color:#e0e8f3;box-shadow:0 0 30px rgba(0,0,0,0.1)}
.panel{border-color:transparent}
.btn-mega{background:#455e84;border-color:transparent;color:#fff;border-radius:4px}
.btn-mega:disabled,.btn-mega:hover,.btn-mega:focus,.btn-mega:active{color:#fff;background:#394d6d;border-color:#394d6d}
.footer .icoadmin-logo-default{color:#fff;opacity:.7}